.lkt-page-editor-add-menu-button {

    justify-content: flex-start;

    --lkt-btn-bg: #ffffff;
    --lkt-btn-border-color: #ffffff;
    --lkt-btn-font-size: 12px;
    --lkt-btn-font-weight: 400;
    --lkt-btn-line-height: 1;
}

.lkt-page-editor .text-format-button {

    --lkt-btn-bg: #ffffff;
    --lkt-btn-border-color: #f1f1f1;
    --lkt-btn-font-size: 12px;
    --lkt-btn-font-weight: 400;
    --lkt-btn-line-height: 1;

}